{% extends 'base.html.twig' %}

{% block title %}Film index{% endblock %}

{% block body %}
    <h1>Film index</h1>

    <table class="table">
        <thead>
            <tr>
                <th><FONT SIZE = "4">Id</FONT></th>
                <th><FONT SIZE = "4">Nom</FONT></th>
                <th><FONT SIZE = "4">Description</FONT></th>
                <th><FONT SIZE = "4">Note</FONT></th>
                <th><FONT SIZE = "4">NbVotants</FONT></th>
                <th><FONT SIZE = "4">actions</FONT></th>
            </tr>
        </thead>
        <tbody>
        {% for film in films %}
            <tr>
                <td>{{ film.id }}</td>
                <td><FONT SIZE = "4"><mark>{{ film.nom }}</mark></FONT></td>
                <td><FONT SIZE = "4">{{ film.description }}</FONT><br><br></td>
                <td><FONT SIZE = "4">{{ film.note }}</FONT></td>
                <td><FONT SIZE = "4">{{ film.nbVotants }}</FONT></td>
                <td>
                    <FONT SIZE = "4"><a href="{{ path('film_show', {'id': film.id}) }}">show</a></FONT>
                    <FONT SIZE = "4"><a href="{{ path('film_edit', {'id': film.id}) }}">edit</a></FONT>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <FONT SIZE = "4"><a href="{{ path('film_new') }}">Create new</a></FONT>
{% endblock %}
